 
  @{
 Layout = "~/Views/Shared/_Layout_Body.cshtml";
 }




@Scripts.Render("~/bundles/Validata")

<section class="panel panel-default" ng-app="GHPAPP" ng-controller="GHPCtrl">
 
  <header class="panel-heading font-bold">
                  TableString
                </header>

<div class="panel-body">
 
  <form class="form-horizontal" method="POST" action="Save" id="TableStringEditForm">        
  <div class="line line-dashed b-b line-lg pull-in"></div>
<div class="form-group">
                      <label class="col-sm-2 control-label">字段名称</label>
                      <div class="col-sm-10">
                        <input type="text" name='FieldName' class="form-control" ng-model="Update.FieldName">
                   
                      </div>
                    </div>
<div class="line line-dashed b-b line-lg pull-in"></div>
<div class="form-group">
                      <label class="col-sm-2 control-label">字段显示名称</label>
                      <div class="col-sm-10">
                        <input type="text" name='FieldShowMing' class="form-control" ng-model="Update.FieldShowMing">
                   
                      </div>
                    </div>
<div class="line line-dashed b-b line-lg pull-in"></div>
<div class="form-group">
                      <label class="col-sm-2 control-label">输入类型</label>
                      <div class="col-sm-10">
                        <input type="text" name='InputType' class="form-control" ng-model="Update.InputType">
                   
                      </div>
                    </div>
<div class="line line-dashed b-b line-lg pull-in"></div>
<div class="form-group">
                      <label class="col-sm-2 control-label">表单验证</label>
                      <div class="col-sm-10">
                        <input type="text" name='AddWhere' class="form-control" ng-model="Update.AddWhere">
                   
                      </div>
                    </div>
<div class="line line-dashed b-b line-lg pull-in"></div>
<div class="form-group">
                      <label class="col-sm-2 control-label">是否链接其他表</label>
                      <div class="col-sm-10">
                        <input type="text" name='IsOtherTable' class="form-control" ng-model="Update.IsOtherTable">
                   
                      </div>
                    </div>
<div class="line line-dashed b-b line-lg pull-in"></div>
<div class="form-group">
                      <label class="col-sm-2 control-label">其他表名</label>
                      <div class="col-sm-10">
                        <input type="text" name='OtherTableName' class="form-control" ng-model="Update.OtherTableName">
                   
                      </div>
                    </div>
<div class="line line-dashed b-b line-lg pull-in"></div>
<div class="form-group">
                      <label class="col-sm-2 control-label">其他表字段 展示用</label>
                      <div class="col-sm-10">
                        <input type="text" name='OtherTableFieldZS' class="form-control" ng-model="Update.OtherTableFieldZS">
                   
                      </div>
                    </div>
<div class="line line-dashed b-b line-lg pull-in"></div>
<div class="form-group">
                      <label class="col-sm-2 control-label">其他表字段 保存用</label>
                      <div class="col-sm-10">
                        <input type="text" name='OtherTableFieldBC' class="form-control" ng-model="Update.OtherTableFieldBC">
                   
                      </div>
                    </div>
<div class="line line-dashed b-b line-lg pull-in"></div>
<div class="form-group">
                      <label class="col-sm-2 control-label">表明</label>
                      <div class="col-sm-10">
                        <input type="text" name='TableName' class="form-control" ng-model="Update.TableName">
                   
                      </div>
                    </div>
<div class="line line-dashed b-b line-lg pull-in"></div>
<div class="form-group">
                      <label class="col-sm-2 control-label">其他表查询条件</label>
                      <div class="col-sm-10">
                        <input type="text" name='OtherTableWhere' class="form-control" ng-model="Update.OtherTableWhere">
                   
                      </div>
                    </div>


  <div class="text-center">
  <button class="btn btn-s-md btn-default" type="submit">保存</button>
    <button class="btn btn-s-md btn-default" type="button" onclick="location='List'">取消</button>
  </div>

</form>
</div>

    <div class="loader" ng-if="loading">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
    </div>

</section>

<script>
$('#TableStringEditForm').validate({rules: {FieldName:{ 
required:true ,
},
FieldShowMing:{ 
required:true ,
},
InputType:{ 
required:true ,
},
AddWhere:{ 
required:true ,
},
IsOtherTable:{ 
required:true,
},
TableName:{ 
required:true,
},
}   }); 
 
 
 
 
 var app = angular.module("GHPAPP", []);




 app.module("GHPAPP", [])
        .factory('httpInterceptor', ['$q', '$injector', function ($q, $injector) {
            var httpInterceptor = {
                'responseError': function (response){
                    $scope.loading = false;
                    return $q.reject(response);
                },
                'response': function (response) {
                    $scope.loading = false;
                    return response;
                },
                'request': function (config) {
                    $scope.loading = true;
                    return config;
                },
                'requestError': function (config) {
                    $scope.loading = false;
                    return $q.reject(config);
                }
            }
            return httpInterceptor;
        }])



    app.controller("GHPCtrl", function ($scope, $location,$http) {
              $scope.loading = false;
	
	 

        var Id = $location.url().split('#')[1].split("=")[1];

        $scope.load = function () {
            $http({
                method: 'POST',
                url: 'GetUpdateData',
                data: { Id: Id }
           }).then(function successCallback(response) {
                if (response.data.start == 0) {
                    $scope.Update = response.data.data;
							
                } else {
                    alert( response.data.msg);
                }
            }, function errorCallback(response){
                // 请求失败执行代码
           });

        }

        if (Id != "") {
            $scope.load();
			
        }

    })
</script>
 